<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Moods App</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/reset.css">
  </head>
  <body>
    <header>
      <section class="nav">
        <h1 class="wa">MOODS APP</h1>
      </section>
      <a href="/logout">Logout</a>
    </header>
    <section class="row">
      <div class="grid">
        <section class="col-1-3">
          <h2 class="h2">Thanks for trying moods app!</h2>
          <h5 class="h5">We hope to see you soon</h5>
        </section>
      </div></section>
      <footer class="footer">
        <small>&copy; MOODS APP || 2017</small>
      </footer>
  </body>
</html>
