<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Moods App</title>

    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/reset.css">


  </head>
  <body>
    <form action="/users/register" method="POST" class="col-1-3">
      <fieldset class="register-group">
        <div>
          <h1 class="acc">
            Create your Free account Below
          </h1>
          <br>
          <h3 class="free">
            Absolutely Free !!
          </h3>
          <br><br>
        <label>
            Name
          <input type="text" name="username" placeholder="Full name" required>
        </label>

        <label>
            Email
          <input type="email" name="email" placeholder="Email address" required>
        </label>
        <label>
          <input type="email" name="email" placeholder="Re-enter Email address" required>
        </label>
        <label>
            Password
          <input type="password" name="password" placeholder="A-Z,a-z,(0-9)" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$" required>
        </label>
        <label>
            Confirm Password
          <input type="password" name="password2" placeholder="Re-enter Password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$" required>
        </label>
      </fieldset>

      <input class="btn btn-default" type="submit" name="Sign up" value="Create account">

    </form>
  </body>
  </html>
